<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sign Up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/app.css" />
    <style>
      	#popup, #duplicateBaristaPopup {
      		position: fixed;
      		top: 40%;
      		left: 50%;
      		transform: translate(-50%, -50%);
      		width: 600px;
      		padding: 50px;
      		box-shadow: 0 5px 30px rgba(0,0,0,.3);
      		background: #FFF;
      		visibility: hidden;
      		opacity: 0;
      		transition: 0.35s;
      	}
      	#popup.active, #duplicateBaristaPopup.active {
      		top: 50%;
      		visibility: visible;
      		opacity: 1;
      		transition: 0.35s;
      	}
    </style>
</head>
<body>
	<div layout:fragment="content">
		<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
		/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
		/*]]>*/
		var app = angular.module('myApp', []);
		app.controller('populateCtrl', function($scope, $http, $q) {
			
			// log the hit
			console.log("Hit!");
			
			// clear the form function
			$scope.reset = function() {
				// clear the fields
					// barista
				$scope.barista = {
					name: '',
					email: '',
					password: ''
				};
				
					// password
				$scope.passwordVerification = {
					password: '',
					repeatPassword: ''
				};
				
				// clear the form
				if (undefined != $scope.baristaRegistrationForm) {
					$scope.baristaRegistrationForm.$setPristine();
				}
			}
			
			// successful barista registration function
			$scope.toggle = function() {
				var blur = document.getElementById('blur'); 
				blur.classList.toggle('active');
				var popup = document.getElementById('popup'); 
				popup.classList.toggle('active');
			}
			
			// failed barista registration function
			$scope.dupeToggle = function() {
				var blur = document.getElementById('blur'); 
				blur.classList.toggle('active');
				var duplicateBaristaPopup = document.getElementById('duplicateBaristaPopup');
				duplicateBaristaPopup.classList.toggle('active');
			}
			
			// submit the form function
			$scope.submit = function() {
				
				// create the barista
				$scope.createBarista();
			}
			
			// create barista function
			$scope.createBarista = function() {
				$scope.success = false;
				$scope.failure = false;
				
				// find out if the passwords are matching
				$scope.matching = $scope.passwordVerification.password === $scope.passwordVerification.repeatPassword;
				$scope.notMatching = $scope.passwordVerification.password !== $scope.passwordVerification.repeatPassword;
				
				// if the passwords match...
				if ($scope.matching === true) {
					
					// add the password to the barista
					$scope.barista.password = $scope.passwordVerification.password;
					
					// post the new barista
					$http.post("/api/v1/employees", $scope.barista).then(
						function(success) {
							$scope.success = true;
							$scope.failure = false;
							$scope.toggle();
							/**sessionStorage.setItem("currentUserName", $scope.barista.name);
							sessionStorage.setItem("currentUserEmail", $scope.barista.email);*/
						},
						// we have a failure: the user already exists
						function(failure) {
							$scope.success = false;
							$scope.failure = true;
							$scope.dupeToggle();
						}
					)
				} 
				// if the passwords don't match, notify the user
				else {
					$scope.success = false;
					$scope.failure = true;
				}
			};
		});
		/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
		/*<![CDATA[*/ 
		</script>
		<div ng-app="myApp" ng-controller="populateCtrl">
			<!--- Various HTML elements, with extra tags telling Angular how to work with them, go here -->
			<div class="holder" id="blur">
				<div>
					<header>Barista Registration</header>
				</div>
				<br>
				<form ng-submit="submit()" name="baristaRegistrationForm">
					<table style="border: none;">
						<tr>
							<!-- holds actual table with fields that are a part of the form --> 
							<td>
								<table style="border: none">
									<tr>
										<td style="text-align: right; padding: 0px">
											<label>Preferred Name:</label>
										</td>
										<td>
											<input type="text" required="true" ng-model="barista.name"/>
										</td>
									</tr>
									<tr>
										<td style="text-align: right; padding: 0px">
											<label>Email:</label>
										</td>
										<td>
											<input type="email" required="true" ng-model="barista.email"/>
										</td>
									</tr>
									<tr>
										<td style="text-align: right; padding: 0px">
											<label>Password:</label>
										</td>
										<td>
											<input type="password" required="true" ng-model="passwordVerification.password"/>
										</td>
									</tr>
									<tr>
										<td style="text-align: right; padding: 0px">
											<label>Repeat Password:</label>
										</td>
										<td>
											<input type="password" required="true" ng-model="passwordVerification.repeatPassword"/>
										</td>
									</tr>
								</table>
							</td>
							<!-- holds button to submit the form --> 
							<td>
								<input type="submit" value="Register" class="a" ng-disabled="baristaRegistrationForm.$invalid"/>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div ng-show="notMatching">Please enter matching passwords.</div>
			
			<!-- welcome message popup-->
			<div class="holder" id="popup">
				<p>Your barista account has been registered. <br>Welcome {{barista.name}}!</p>
				<br> <br>
				<a href="/baristahomepage" style="font-size: 20px">OK</a>
			</div>
			<!-- end of welcome message popup -->
			
			<!-- account already exists popup -->
			<div class="holder" id="duplicateBaristaPopup">
				<p>A barista account with this email already exists.<br>
				Would you like to login?</p> 
				<br> <br>
				<a href="/stafflogin" style="font-size: 20px">Login</a>
				<a href="#" style="font-size: 20px" onclick="dupeToggle()">Cancel</a>
			</div>
			<!-- end of account already exists popup -->
			<script type="text/javascript">
				// failed barista registration popup function
				function dupeToggle() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var duplicateBaristaPopup = document.getElementById('duplicateBaristaPopup');
					duplicateBaristaPopup.classList.toggle('active');
				}
			</script>
            <a href="/managerhomepage" style="border: none;">
            	<back> ← </back>
            </a>
		</div>
	</div>
</body>
</html>