<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Barista Home</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<div layout:fragment="content">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/*<![CDATA[*/
			var app = angular.module('myApp', []);
			app.controller('populateCtrl', function($scope, $http, $q) {
				$scope.signout = function(){  
					// update later to signout user of system instead of clearing
					window.location.href = "/index";
				}
			});
			/*]]>*/
		</script>

		<div ng-app="myApp" ng-controller="populateCtrl as ctrl">
			<button style="position: absolute; top: 8px; right: 8px;" onclick="toggle()">Sign Out</button>
			<div class="holder" id="blur">
				<div>
					<header>Barista Homepage</header>
				</div>
				<br> <br>
				
				<form ng-submit="submit()" name="baristaHomepageForm" class="form-horizontal">
					<div class="row text-center">
						<br> <br>
					</div>
					<!-- current orders table -->
					<div class="row">
						<label class="col-lg-12 control-lable" for="list" style="font-size: 15px">Current Orders:</label>
						<div class="col-md-6">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Order #</th>
										<th>Recipe Info</th>
										<th>Status</th>
										<th>Completed</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="ingredient in ingredients">
										<td>{{ ingredient.amount }}</td>
										<td>{{ ingredient.name }}</td>
										<td>button</td>
										<td><label> <input type="radio" name="name"
												ng-model="$parent.name" value="{{ingredient.name}}">
										</label></td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="form-actions floatRight">
							<button type="button" ng-click="submit()" class="btn btn-default btn-sm" ng-disabled="!canSubmit">Complete Order</button>
						</div>
					</div>
	
					<!-- all orders table -->
					<div class="row">
						<label class="col-lg-12 control-lable" for="list"
							style="font-size: 15px">All Orders:</label>
						<div class="col-md-6">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Fulfill</th>
										<th>Order #</th>
										<th>Recipe Info</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="ingredient in ingredients">
										<td><label> <input type="radio" name="name"
												ng-model="$parent.name" value="{{ingredient.name}}">
										</label></td>
										<td>{{ ingredient.name }}</td>
										<td>{{ ingredient.amount }}</td>
										<td>button</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="form-actions floatRight">
							<button type="button" ng-click="submit()" class="btn btn-default btn-sm" ng-disabled="!canSubmit">Fulfill Order</button>
						</div>
					</div>
					<br>
				</form>
			</div>
			<!-- sign out popup -->
			<div class="holder" id="signoutPopup">
				<p>Are you sure you would like to sign out?</p>
				<br>
				<popupButton href="/stafflogin" onclick="goToLogin()">Sign Out</popupButton>
				<popupButton href="#" onclick="toggle()">Cancel</popupButton>
			</div>
			<!-- end of sign out popup -->
			
			<script type="text/javascript">
				// make signout popup appear function
				function toggle() {
					var blur = document.getElementById('blur');
					blur.classList.toggle('active');
					var signoutPopup = document.getElementById('signoutPopup');
					signoutPopup.classList.toggle('active');
				}
				
				// go to login page function
				function goToLogin() {
					window.location.href = "/stafflogin";
				}
			</script>
		</div>
	</div>
</body>
</html>
