<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Barista Home</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<link rel="icon" type="image/png" href="images/favicon-1.png"/>
	<style>
		td, table {
			margin-right: 20px;
			margin-left: 20px;
		}
		td {
			font-size: 20px;
		}
	</style>
</head>
<body>
	<div layout:fragment="content">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/*<![CDATA[*/
			var app = angular.module('myApp', []);
			app.controller('populateCtrl', function($scope, $http, $q) {
				console.log('Hit');
				
				$scope.ordersIncomp = {
						orders : '',	
				};
				
				$scope.ordersInprog = {
						orders : '',	
				};
				
				$scope.order = {
						id : '',
						beverage : '',
						status : '',
						recipe : '',	
				}
				
				$scope.getIncomplete = function() {
					$http.get("/api/v1/orders/incomplete").then(function(response) {
						$scope.ordersIncomp = response.data;
					}, function(rejection) {
						console.error("Error while getting Recipe");
					})
				}
				
				$scope.getInprogress = function() {
					$http.get("/api/v1/orders/inprogress").then(function(response) {
						$scope.ordersInprog = response.data;
					}, function(rejection) {
						console.error("Error while getting Recipe");
					})
				}

				$scope.signout = function(){  
					// update later to signout user of system instead of clearing
					window.location.href = "/index";
				}
				
				$scope.fulfill = function() {
					$scope.success = false;
					console.log($scope.ordersIncomp);
					console.log($scope.order.id);
					$http.put("/api/v1/orders/start/" + $scope.order.id).then(
							function(success) {
								$scope.success = true;
								$scope.getIncomplete();
								$scope.getInprogress();
							}, function(error) {
								if (error.status === 404) {
								    alert("Unable to Start order");
								    $scope.success = false;
								}
								if (error.status === 400) {
								    alert("Not Enough Ingredients");
								    // Implement more later
								    $scope.success = false;
								}
							});
				}
				
				$scope.complete = function() {
					$scope.success = false;
					$http.put("/api/v1/orders/complete/" + $scope.order.id).then(
							function(success) {
								$scope.success = true;
								$scope.getIncomplete();
								$scope.getInprogress();
							}, function(error) {
								if (error.status === 404) {
								    alert("Recipe Not Found");
								    $scope.success = false;
								}
								if (error.status === 400) {
								    alert("Unable to Complete order");
								    // Implement more later
								    $scope.success = false;
								}
							});
				}
				
				$scope.getIncomplete();
				$scope.getInprogress();
		
			});
			/*]]>*/
		</script>
		<div ng-app="myApp" ng-controller="populateCtrl">
			<button class="signout" onclick="toggle()">Sign Out</button>
			<div class="holder" id="blur">
				<div>
					<header>Barista Homepage</header>
				</div>
				<form ng-submit="submit()" name="baristaHomepageForm">
					<!-- current orders table -->
					<div class="table-header">Current Orders:</div>	
					<div class="button-group">
							<table>
								<colgroup>
									<col style="width: 200px"/>
									<col style="width: 250px"/>
									<col style="width: 250px"/>
									<col style="width: 200px"/>
								</colgroup>
								<tr>
									<th>Order #</th>
									<th>Recipe Info</th>
									<th>Status</th>
									<th>Completed</th>
								</tr>
									<tr ng-repeat="order in ordersInprog">
										<td>{{order.id}}</td>
										<td>{{order.beverage}}</td>
										<td>{{order.status}}</td>
										<td>
											<label> 
												<input type="radio" ng-model="$parent.order.id" ng-value="order.id" name="id">
											</label>
										</td>
									</tr>
							</table>
								<button ng-click="complete()" ng-disabled="baristaHomepageForm.$pristine" 
									class="button-side" style="	width: 215px; height: 50px;">Complete Order</button>
					</div>
					<br>
					<br>
					<!-- all orders table -->
					<div class="table-header">All Orders:</div>	
					<div class="button-group">
							<table>
								<colgroup>
									<col style="width: 200px"/>
									<col style="width: 250px"/>
									<col style="width: 250px"/>
									<col style="width: 200px"/>
								</colgroup>
								<tr>
									<th>Order #</th>
									<th>Recipe Info</th>
									<th>Status</th>
									<th>Fulfill</th>
								</tr>
									<tr ng-repeat="order in ordersIncomp">
					
										<td>{{order.id}}</td>
										<td>{{order.beverage}}</td>
										<td>{{order.status}}</td>
										<td>
											<label> 
												<input type="radio" ng-model="$parent.order.id" ng-value="order.id" name="id">
											</label>
										</td>
									</tr>
							</table>
							<button ng-click="fulfill()"
								class="button-side" style="	width: 215px; height: 50px;">Fulfill Order</button>
					</div>
					</form>
					</div>
			</div>
			<!-- sign out popup -->
			<div class="holder" id="signoutPopup">
				<p>Are you sure you would like to sign out?</p>
				<br>
				<popupButton href="/stafflogin" onclick="goToLogin()">Sign Out</popupButton>
				<popupButton href="#" onclick="toggle()">Cancel</popupButton>
			</div>
			<!-- end of sign out popup -->
			
			<script type="text/javascript">
				// make signout popup appear function
				function toggle() {
					var blur = document.getElementById('blur');
					blur.classList.toggle('active');
					var signoutPopup = document.getElementById('signoutPopup');
					signoutPopup.classList.toggle('active');
				}
				
				// go to login page function
				function goToLogin() {
					window.location.href = "/stafflogin";
				}
			</script>
		</div>
</body>
</html>
