<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome Customer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="icon" type="image/png" href="images/favicon-1.png"/>
    <style>
      	#popup, #newCustomerPopup, #guestPopup {
      		position: fixed;
      		top: 40%;
      		left: 50%;
      		transform: translate(-50%, -50%);
      		width: 600px;
      		padding: 50px;
      		box-shadow: 0 5px 30px rgba(0,0,0,.3);
      		background: #FFF;
      		visibility: hidden;
      		opacity: 0;
      		transition: 0.35s;
      	}
      	#popup.active, #newCustomerPopup.active, #guestPopup.active {
      		top: 50%;
      		visibility: visible;
      		opacity: 1;
      		transition: 0.35s;
      	}
      	th, table {
	margin-right: auto;
	margin-left: auto;
	border: 2px solid black;
	border-collapse: collapse;
	padding: 15px;
}
		
    </style>
</head>
<body>
	<div layout:fragment="content">
		<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*]]>*/
			var app = angular.module('myApp', []);
			app.controller('populateCtrl', function($scope, $http, $q) {
			
				$scope.success = false;
				
				$scope.customer = {
					email: '',
					name: '',
					password: ''
				};
				
				$scope.password = '';
				
				// successful customer login
				$scope.toggle = function() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var popup = document.getElementById('popup'); 
					popup.classList.toggle('active');
				}
				
				// customer doesn't exists popup function
				$scope.newToggle = function() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var newCustomerPopup = document.getElementById('newCustomerPopup'); 
					newCustomerPopup.classList.toggle('active');
				}
				
				// continue as guest popup function
				$scope.guestToggle = function() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var guestPopup = document.getElementById('guestPopup');
					guestPopup.classList.toggle('active');
				}
				
				$scope.submit = function(){
					$scope.customer.password = $scope.password;
					$http.post("/api/v1/customers/validate", $scope.customer)
			            	.then(
			            	function (success) {
			            		$scope.customer = success.data;
			            		$scope.success = true;

			            		// Successful log in
			            		// sessionStorage.setItem("currentUserName", $scope.customer.name);
						        $scope.toggle();
						        $scope.reset();
			            		/** sessionStorage.setItem("currentUserEmail", $scope.customer.email); */
			            	},
			            	function(failure){
			            		if(failure.status == 404){
			            			$scope.newToggle();
			            		} else {
			            			$scope.invalidInfo=true;
			            		}
			            		
			                	/**alert("An account with that email does not exist. Click Sign Up to create an account.");
			                	$scope.success = false;*/                
			        		});
				}
				
				// go to homepage with name from guest popup
				$scope.goToHomepage = function () {
					sessionStorage.setItem("currentUserName", $scope.customer.name);
					window.location.href = "/customerhomepage";
					$scope.reset();
				}
				
				$scope.reset = function(){
					$scope.customer = {
						email: '',
						name: '',
						password: ''
					};
					
					if (undefined != $scope.customerLoginForm) {
						$scope.customerLoginForm.$setPristine();
					}
					
					$scope.password = '';
				}
			});
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*<![CDATA[*/ 
		</script>
		
		<div ng-app="myApp" ng-controller="populateCtrl">
			<!--- Various HTML elements, with extra tags telling Angular how to work with them, go here -->
			<div>
				<header>Customer Login</header>
			</div>
			<br>
			<div class="holder" id="blur">
				<form ng-sumbit="submit()" name="customerLoginForm">
					<table style="border: none;">
						<tr>
							<td style="padding: 0px">
								<div style="text-align: right;">
									<label>Email: &nbsp;</label>
								</div>
							</td>
							<td style="padding: 0px">
								<div>
									<input type="email" required="true" ng-model="customer.email" name="email" 
									placeholder="e.g. mocha@coffeemaker.com" style="border-radius: 7px;"/>
								</div>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px">
								<div style="text-align: right;">
									<label>Password: &nbsp;</label>
								</div>
							</td>
							<td style="padding: 0px">
								<div>
									<input type="password" name="password" ng-model="password" required="true" style="border-radius: 7px;"/>
								</div>
							</td>
							
						</tr>
					</table>
					<!-- <div class=buttons> -->
						<div>
							<input type="submit" value="Login" ng-click="submit()" ng-disabled="customerLoginForm.$invalid"
							 style="width: 110px; height: 40px; font-size: 22px; margin-right: 7px; font-weight: bold; margin-top: 10px;"/>
							 
							<button class="a" onclick="goToSignUp()" 
								style="width: 120px; height: 40px; font-size: 22px; margin-left: 7px; font-weight: bold;">Sign Up</button>
						</div>
						
					<!-- </div> -->
				</form>
				<div>
					<button class="a" href="/customerhomepage" onclick="guestToggle()" 
					style="width: 240px; height: 40px; font-size: 22px; font-weight: bolder;">Continue as Guest</button>
				</div>
				<div ng-show="invalidInfo">Incorrect email/password.</div>
			</div>
			
			<!-- customer welcome popup -->
			<div class="holder" id="popup">
				<p>Hi {{customer.name}}! <br> You're now logged in.</p>
				<br> <br> <br>
				<a href="/customerhomepage" style="font-size: 20px">OK</a>
			</div>
			<!-- end customer welcome popup -->
			
			<!-- account doesn't exist popup -->
			<div class="holder" id="newCustomerPopup">
				<p>A customer account with this email does not exist.
				<br>Would you like to sign up?</p>
				<br><br>
				<popupButton href="/customersignup" onclick="goToSignUp()">Sign Up</popupButton>
				<popupButton href="#" style="font-size: 20px" onclick="newToggle()">Cancel</popupButton> 
			</div>
			<!-- end of account doesn't exist popup -->
			
			<!-- guest customer welcome popup -->
			<div class="holder" id="guestPopup">
				<p>Welcome! What's your name?</p>
				<form name="guestForm">
					<input type="text" required="true" ng-model="customer.name" name="name"/>
					<br> <br>
					<input type="submit" class="popupButton" style="font-size: 24px" value="OK" ng-click="goToHomepage()" ng-disabled="guestForm.$invalid"/>
					<a class="popupButton" style="text-decoration: none" href="#" onclick="guestToggle()">Cancel</a> 
				</form>
			</div>
			<!-- end of guest customer welcome popup -->
			
			<script type="text/javascript">
				// customer account already exists popup function
				function newToggle() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var newCustomerPopup = document.getElementById('newCustomerPopup');
					newCustomerPopup.classList.toggle('active');
				}
				
				// continue as guest popup function
				function guestToggle() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var guestPopup = document.getElementById('guestPopup');
					guestPopup.classList.toggle('active');
				}
				
				// go to sign up page function
				function goToSignUp() {
					window.location.href = "/customersignup";
				}
			</script>
            <a href="/index" style="border: none;">
            	<back> ← </back>
            </a>
		</div>
	</div>
</body>
</html>