<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sign Up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="icon" type="image/png" href="images/favicon-1.png"/>
    <style>
      	#popup, #duplicateCustomerPopup {
      		position: fixed;
      		top: 40%;
      		left: 50%;
      		transform: translate(-50%, -50%);
      		width: 600px;
      		padding: 50px;
      		box-shadow: 0 5px 30px rgba(0,0,0,.3);
      		background: #FFF;
      		visibility: hidden;
      		opacity: 0;
      		transition: 0.35s;
      	}
      	#popup.active, #duplicateCustomerPopup.active {
      		top: 50%;
      		visibility: visible;
      		opacity: 1;
      		transition: 0.35s;
      	}
    </style>
</head>
<body>
	<div layout:fragment="content">
		<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*]]>*/
			var app = angular.module('myApp', []);
			app.controller('populateCtrl', function($scope, $http, $q) {
				
				// log the hit
				console.log("Hit!");
				
				// clear the form function
				$scope.reset = function() {
					// clear the fields
						// customer
					$scope.customer = {
						email: '',
						name: '',
						password: ''
					};
					
						// password
					$scope.passwordVerification = {
						password: '',
						repeatPassword: ''
					};
					
					// clear the form
					if (undefined != $scope.customerSignUpForm) {
						$scope.customerSignUpForm.$setPristine();
					}
				}
				
				// successful customer creation function
				$scope.toggle = function() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var popup = document.getElementById('popup'); 
					popup.classList.toggle('active');
				}
				
				// customer account already exists function
				$scope.dupeToggle = function() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var duplicateCustomerPopup = document.getElementById('duplicateCustomerPopup'); 
					duplicateCustomerPopup.classList.toggle('active');
				}
				
				// submit the form function
				$scope.submit = function() {
					// create the customer
					$scope.createCustomer();
					
					if ($scope.success === true) {
						console.log("this ran...");
						
					}
				}
				
				// create customer function
				$scope.createCustomer = function() {
					$scope.success = false;
					$scope.failure = false;
					
					// if the passwords match...
					$scope.matching = $scope.passwordVerification.password === $scope.passwordVerification.repeatPassword
					if ($scope.matching === true) {
						
						// add the password to the customer
						$scope.customer.password = $scope.passwordVerification.password;

						
						// post the new customer
						$http.post("/api/v1/customers", $scope.customer).then(
							function(success) {
								$scope.success = true;
								$scope.failure = false;
								$scope.toggle();
								sessionStorage.setItem("currentUserName", $scope.customer.name);
								/** sessionStorage.setItem("currentUserEmail", $scope.customer.email); */
							},
							function(failure) {
								$scope.success = false;
								$scope.failure = true;
								$scope.dupeToggle();
								// prompt the user if they want to go to the login page
								/** var ask = window.confirm("An account with this email already exists.\n Would you like to login?");
							    if (ask) {
							        window.location.href = "customerlogin.html";
							    }*/
							}
						)
					} 
					// if the passwords don't match, we have a failure: the user already exists
					else {
						$scope.success = false;
						$scope.failure = true;
						$scope.notmatching = true;
						
					}
				};
			});
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*<![CDATA[*/ 
		</script>
		<div ng-app="myApp" ng-controller="populateCtrl">
			<!--- Various HTML elements, with extra tags telling Angular how to work with them, go here -->
			<div class="holder" id="blur">
				<div>
					<header>Become a CoffeeMaker Rewards Member</header>
				</div>
				<br>
				<form ng-submit="submit()" name="customerSignUpForm">
					<table style="border: none">
						<tr>
							<!-- holds actual table with fields that are a part of the form --> 
							<td>
								<table style="border: none">
									<!-- name elements -->
									<tr>
										<td style="text-align: right;">
											<label>Preferred Name:  &nbsp;</label>
										</td>
										<td>
											<input type="text" required="true" ng-model="customer.name"
												style="border-radius: 7px;"/>
										</td>
									</tr>
									
									<!-- email elements -->
									<tr>
										<td style="text-align: right;">
											<label>Email:  &nbsp;</label>
										</td>
										<td>
											<input type="email" required="true" placeholder="e.g. mocha@coffeemaker.com" ng-model="customer.email"
												style="border-radius: 7px;"/>
										</td>
									</tr>
									
									<!-- password elements -->
									<tr>
										<td style="text-align: right;">
											<label>Password:  &nbsp;</label>
										</td>
										<td>
											<input type="password" required="true" ng-model="passwordVerification.password"
												style="border-radius: 7px;"/>
										</td>
									</tr>
									
									<!-- repeat password elements -->
									<tr>
										<td style="text-align: right;">
											<label>Repeat Password:  &nbsp;</label>
										</td>
										<td>
											<input type="password" required="true" ng-model="passwordVerification.repeatPassword"
												style="border-radius: 7px;"/>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- holds button to submit the form --> 
					<input type="submit" value="Sign Up" class="a" ng-disabled="customerSignUpForm.$invalid"
						style="width: 150px; height: 40px; font-size: 22px; font-weight: bold; margin-top: 10px;"/>
				</form>
				<div ng-show="notmatching">Passwords do not match.</div>
            </div>
            
            <!-- welcome message popup -->
            <div class="holder" id="popup">
				<p>Your account has been created. <br> <br> Welcome to the CoffeeMaker Rewards Club {{customer.name}}!
				<br> <br> <br>
				<a href="/customerhomepage" style="font-size: 20px">OK</a>
			</div>
			<!-- end of welcome message popup -->
			
			<!-- account already exists popup -->
			<div class="holder" id="duplicateCustomerPopup">
				<p>A customer account with this email already exists.
				<br>Would you like to login?</p>
				<br><br>
				<a href="/customerlogin" style="font-size: 20px">Login</a>
				<a href="#" style="font-size: 20px" onclick="dupeToggle()">Cancel</a> 
			</div>
			<!-- end of account already exists popup -->
			
			<script type="text/javascript">
				// customer account already exists popup function
				function dupeToggle() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var duplicateCustomerPopup = document.getElementById('duplicateCustomerPopup');
					duplicateCustomerPopup.classList.toggle('active');
				}
			</script>
            <a href="/customerlogin" style="border: none;">
            	<back> ← </back>
            </a>
		</div>
	</div>
</body>
</html>