<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Customer Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="icon" type="image/png" href="images/favicon-1.png"/>
	<style>
		th, table {
			margin-right: 1px;
			margin-left: 20px;
			border: 2px solid black;
			border-collapse: collapse;
			padding: 15px;
		}
</style>
</head>
<body>
	<div layout:fragment="content">
		<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*]]>*/
			var app = angular.module('myApp', []);
			app.controller('populateCtrl', function($scope, $http, $q) {
				
				// log the hit
				console.log("Hit!");
				
				// get the current customer's name
				$scope.name = sessionStorage.getItem("currentUserName");
				console.log($scope.name);
				
				// sign out as a customer
				$scope.signOut = function() {
					// clear sesstion storage
					sessionStorage.removeItem("currentUserName");
					sessionStorage.clear();
					
					// go to the customer login page
					window.location.href = "customerlogin.html";
				}
				
				$scope.reset = function() {
					// clear the fields of customer
					$scope.customer = {
						email: '',
						name: '',
						password: ''
					};
					
					$scope.name = ' ';
					
					// clear the form
					if (undefined != $scope.customerHomepageForm) {
						$scope.customerHomepageForm.$setPristine();
					}
				}
				
				$scope.cancel = function(){  
					// implement
					$scope.reset();	
					$console.log("Implement cancelling an order");
				}
				
				$scope.pickup = function(){  
					// implement
					$scope.reset();	
					$console.log("Implement a popup for an order");
				}
			});
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*]]>*/
		</script>
		<div ng-app="myApp" ng-controller="populateCtrl">
			<button class="signout" onclick="toggle()">Sign Out</button>
			<div class="holder" id="blur">			
				<form ng-submit="submit()" name="customerHomepageForm">
				<div>
					<header>Hey {{name}},</header>
				</div>
				<br>
			<div class="table-header">Current Orders:</div>	
			<div class="button-group">
				<table>
					<colgroup>
						<col style="width: 200px"/>
						<col style="width: 500px"/>
						<col style="width: 250px"/>
					</colgroup>
					<tr>
						<th>Order #:</th>
						<th>Drink:</th>
						<th>Status:</th>
					</tr>
				</table>
				<button ng-click="cancel()" ng-disabled="customerHomepageForm.$pristine" 
					class="button-side" style="	width: 180px; height: 50px;">Cancel</button>
				<button ng-click="pickup()" ng-disabled="customerHomepageForm.$pristine" 
					class="button-side" style="	width: 180px; height: 50px;">Pickup</button>
			</div>
				</form>
				</div>
				<button href="orderdrink" onclick="goToOrder()" style="position: absolute; bottom: 8px; right: 8px;">Order Beverage</button>
		</div>
			<!--  sign out popup -->
			<div class="holder" id="signoutPopup">
				<p>Are you sure you would like to sign out?</p>
				<br>
				<popupButton href="/customerlogin" onclick="goToLogin()">Sign Out</popupButton>
				<popupButton href="#" onclick="toggle()">Cancel</popupButton>
			</div>
			<!-- end of sign out popup -->
			
			<script type="text/javascript">
				// make signout popup appear function
				function toggle() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var popup = document.getElementById('signoutPopup'); 
					popup.classList.toggle('active');
				}

				// go to login page function
				function goToLogin() {
					window.location.href = "/customerlogin";
				}
				
				// go to order beverage page function
				function goToOrder() {
					window.location.href = "/orderdrink";
				}
			</script>
		</div>
</body>
</html>