<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Delete Recipes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<link rel="icon" type="image/png" href="images/favicon-1.png"/>
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
	<script> 
    /*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('recipesCtrl', function($scope, $http) {
			
			function updateRecipes() {
				$http.get("/api/v1/recipes").then(function (response) {
	  				$scope.recipes = response.data;
	  			});
			}
			
			function deleteRecipe(recipe) {
		        $http.delete("/api/v1/recipes/" + recipe)
		            .then(
		            function (response) {
		            		console.log(response);
		    				$scope.submissionSuccess=true;	
		    				
		                
		             	updateRecipes();
		            },
		            function(rejection){
		                console.error('Error while deleting recipe');
		                console.log(rejection);
		                
						$scope.submissionSuccess=false;	
		                
		             	// Update recipe list
				        $http.get("/api/v1/recipes").then(function (response) {
			  				$scope.recipes = response.data;
			  			});
		            }
		        );
			}
			
			$scope.del = function(){				
				if ($scope.deleteAll) {
					for (var i = 0, len = $scope.recipes.length; i < len; i++) {
						var recipe = $scope.recipes[i];
						deleteRecipe(recipe.name);
					}
				} else {
					deleteRecipe($scope.name);
				}
				
		        updateRecipes();
			}
			
			$scope.onHome = function() {
				window.location.href = "/index";
			}
			
  			updateRecipes();
		});
	/*]]>*/
	</script>

	<div layout:fragment="content" class="generic-container ng-cloak"
		ng-app="myApp" ng-controller="recipesCtrl as ctrl">

		<header>Coffee Recipes</header>
		<br>

		<div class="container">
		<div class="form-group">
		
		<div ng-if="recipes.length > 0">
			<div class="panel-heading" style="border-bottom: 2px solid transparent;">
					<span><strong>Choose a Recipe to Delete</strong></span>
			</div>	
		</div>
		
		<ul style="list-style: none;">
			  <li ng-repeat="recipe in recipes">
			    <label style="font-size: 23px; font-weight: 500; display: inline-flex; align-items: center;">
			      <input type="radio" ng-model="$parent.name" name="name" value="{{recipe.name}}" required="true" />
			      {{recipe.name}}
			    </label>
			  </li>
		</ul>
		
			<div ng-if="recipes.length > 0">
			<br>

				<div class="row">
					<div class="form-group col-md-12">
							<label style="font-size: 20px; display: flex; flex-direction: row; font-weight: 500;">
							  <input type="checkbox" name="all" class="checkbox" ng-model="$parent.deleteAll">
							     &nbsp;Delete all Recipes?
							</label>
							<input type="submit" value="Delete" ng-click="del()" style="width: 10%;"/>
					</div>
				</div>
			</div>

			<div ng-if="0 >= recipes.length">There are no recipes in the
				Coffee Maker.</div>
				
			<div ng-if="submissionSuccess">Recipe deleted successfully</div>


		</div>
	</div>

</div>
			<a href="/managerhomepage" style="border: none;">
            	<back> ← </back>
            </a>


</body>
</html>
