<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<style>
body {
		background-color:rgb(207, 176, 145);
}
	</style>
</head>
<body>
	<br>
	<h2 align="center">Welcome to</h2>
	<h1 align="center" ><strong>Coffee Maker</strong></h1>
	
	<br>
	
<div class="container">
  <div class="row text-center" style="margin-top: 40px;">
  <div class="btn-group btn-group-vertical" style="margin-right: 70px;">  
    <div class="col-md-12">
	    <a href="/staffhomepage.html"><img src="https://icons.veryicon.com/png/o/business/my-library/ask-for-leave-1.png" alt="Staff Home Page" width="200px" height="200px" class="img-polaroid"></a>
	  <h3>Staff</h3>
	</div>
  </div>
  
  <div class="btn-group btn-group-vertical" style="margin-left: 70px;">  
    <div class="col-md-12">
	    <a href="/customerhomepage"><img src="https://cdn-icons-png.flaticon.com/512/3054/3054889.png" alt="Customer Home Page" width="200px" height="200px" class="img-polaroid"></a>
	  <h3>Customer</h3>
	</div>
  </div>
  </div>
</div>

</body>
</html>


