<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<br>
	<h2 align="center" style="color: black">Welcome to</h2>
	<h1 align="center" style="color: black"><strong>Coffee Maker</strong></h1>
	<br>
	
  <div class="row text-center" style="margin-top: 40px;">
  <div class="btn-group btn-group-vertical" style="margin-right: 70px">  
    <div class="col-md-12">
	    <a href="/stafflogin" style="border: none;"><img src="https://static.thenounproject.com/png/1279813-200.png" alt="Staff Home Page" class="img-polaroid"></a>
	  <h3>Staff</h3>
	</div>
  </div>
  
  <div class="btn-group btn-group-vertical" style="margin-left: 70px">  
    <div class="col-md-12">
	    <a href="/customerlogin" style="border: none;"><img src="https://cdn-icons-png.flaticon.com/512/3054/3054889.png" alt="Customer Home Page" class="img-polaroid"></a>
	  <h3>Customer</h3>
	</div>
  </div>
  </div>

</body>
</html>


