<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<link rel="icon" type="image/png" href="images/favicon-1.png"/>
</head>
<style>
	a {
		text-align: center;
		font-style: bold;
		color: #1B0000;
	}
</style>
<body>
	<br>
	<h1 align="center" style="color: black">Welcome to</h1>
	<header align="center" style="color: black"><strong>Coffee Maker</strong></header>
	<br>
	
  <div class="row text-center" style="margin-top: 40px;">
  <div class="btn-group btn-group-vertical" style="margin-right: 70px">  
    <div class="col-md-12">
	    <a href="/stafflogin" style="border: none;"><img src="https://static.thenounproject.com/png/1279813-200.png" alt="Staff Home Page" class="img-polaroid" style="border: none;"></a>
	  <h2>Staff</h2>
	</div>
  </div>
  
  <div class="btn-group btn-group-vertical" style="margin-left: 70px">  
    <div class="col-md-12">
	    <a href="/customerlogin" style="border: none;"><img src="https://cdn-icons-png.flaticon.com/512/3054/3054889.png" alt="Customer Home Page" class="img-polaroid" style="border: none;"></a>
	  <h2>Customer</h2>
	</div>
  </div>
  </div>
  <br>
  <div class= col-md-12>
  	<a href="https://github.ncsu.edu/engr-csc326-spring2023/csc326-TP-203-3/wiki/Privacy-Policy">Privacy Policy</a>
  </div>
</body>
</html>


