<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Recipes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<link rel="icon" type="image/png" href="images/favicon-1.png"/>
<style>
body {
	background-color:rgb(203, 195, 227);
}
</style>
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
	<script th:inline="javascript">
		/*<![CDATA[*/

		var app = angular.module('myApp', []);
		app.controller('recipesCtrl', function($scope, $http, $q) {
			$http.get("/api/v1/recipes").then(function(response) {
				$scope.recipes = response.data;
			});

			$scope.make = function() {
				var amtPaid = $scope.amtPaid;
				var name = $scope.name;
				$scope.submissionFailure = false;
				$scope.submissionSuccess = false;
				$http.post("/api/v1/makecoffee/" + name, amtPaid).then(
						function(response) {
							$scope.change = response.data.message;
							$scope.submissionSuccess = true;
						}, function(errResponse) {
							console.log(errResponse);
							$scope.submissionFailure = true;
							$scope.error = "Error while making recipe";
						});

			}
			
			$scope.submit = function() {
				$scope.make();
				$scope.amtPaid = '';
			}
			
			$scope.onHome = function() {
				window.location.href = "/index";
			}
			
			$scope.onAddRecipe = function() {
				window.location.href = "/recipe";
			}
		});

		/*]]>*/
	</script>

	<div layout:fragment="content" class="generic-container ng-cloak"
		ng-app="myApp" ng-controller="recipesCtrl">
		<h1>Beverage Recipes</h1>
		<div>
		
		<div ng-hide="recipes.length > 0">
			<div class="row">
				<div class="col-sm-3">
					<h4>No recipes to make!</h4>
				</div>
				<div class="col-sm-1">
					<button type="button" ng-click="onAddRecipe()" class="btn btn-warning btn-sm">Add a Recipe</button>
				</div>
			</div>
		</div>
			
		<div ng-hide="recipes.length < 1">
				<label style="font-size: 15px">Select a Recipe to Make</label>
				<ul>
					<li ng-repeat="recipe in recipes"><label>{{recipe.name}}
						<input type="radio" ng-model="$parent.name" name="name"
						value="{{recipe.name}}" required="true" />
					</label></li>
				</ul>
			
				<br /> <label for="amtPaid">Enter payment</label> 
					<input type="text" ng-model="amtPaid" name="amtPaid" required="true" /> <br /> 
					<br>
					<input type="submit" ng-click="submit()" value="Make Beverage"
						class="btn btn-primary btn-sm" /> <br />
					<br>
		</div>
			
			<div ng-show="submissionSuccess" class="success">Coffee was
				made. Your change is {{change}}.</div>

			<div ng-show="submissionFailure">An error occurred: {{error}}</div>
			<br>
		</div>
		
		<button  ng-click="onHome();" ><img src="https://static.thenounproject.com/png/1054389-200.png" alt="Home" width="25" height="25"></button>
		
	</div>

</body>
</html>
