<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Manager Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<link rel="icon" type="image/png" href="images/favicon-1.png"/>
<style>
		@font-face {
  			font-family: 'Raleway', sans-serif;
  			src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
		}
		body {
				background-color:rgb(207, 176, 145);
		}
		header {
			font-size: 56px;
		}
		* {
			font-family: raleway;
		}
		a, button {
			border-radius: 10px;
			border: 2px solid #000000;
			text-align: center;
			text-decoration: none;
			color: black;
			padding: 10px;
			font-size: 36px;
			width: 275px;
			white-space: normal;
		}
</style>


</head>
<body>  
  <div layout:fragment="content">
    <script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script>
	/*<![CDATA[*/
	var app = angular.module('myApp', []);
		app.controller('populateCtrl', function($scope, $http, $q) {
			$scope.signout = function(){  
				// update later to signout user of system instead of clearing
				window.location.href = "/index";
			}
		});
	
		/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */ 
		/*]]>*/
	</script>
	    <div class="row text-center">
        	<h1>Manager Homepage</h1>
	<br>
	<br>
    </div>
		<div ng-app="myApp"
		ng-controller="populateCtrl as ctrl">
				<form ng-submit="submit()" name="baristaHomepageForm"
					class="form-horizontal">
    			<input type="submit" class="a" style="position: absolute; top: 15px; right: 15px;" value="Signout"  ng-click="signout()"/>
			<br>
	
  <div class="row text-center" style="margin-top: 20px;">	
  <div class="btn-group btn-group-vertical" style="margin-right: 70px;">  
    <div class="col-md-12">
	    <a href="/inventory">Update Inventory
        </a>
	</div>
  </div>
  
  <div class="btn-group btn-group-vertical" style="margin-left: 70px;">  
    <div class="col-md-12">
	     <a href="/editrecipe">Edit Recipe
        </a>
	</div>
  </div>
  </div>
  
    <div class="row text-center" style="margin-top: 60px;">
  <div class="btn-group btn-group-vertical" style="margin-right: 70px;">  
    <div class="col-md-12">
	     <a href="/recipe">Add a Recipe
        </a>
	</div>
  </div>
  
  <div class="btn-group btn-group-vertical" style="margin-left: 70px;">  
    <div class="col-md-12">
	    <a href="/baristaregister">Barista Creation
        </a>
	</div>
  </div>
  </div>
  
    <div class="row text-center" style="margin-top: 40px;">	
  <div class="btn-group btn-group-vertical" style="margin-right: 70px;">  
    <div class="col-md-12">
	    <a href="/deleterecipe">Delete Recipe
        </a>
	</div>
  </div>
  
  <div class="btn-group btn-group-vertical" style="margin-left: 70px;">  
    <div class="col-md-12">
	     <a href="/ingredient">Add an Ingredient
        </a>
	</div>
  </div>
  </div>
 
</form>
	</div>
	</div>
</body>
</html>
