<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Manager Homepage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<style>
body {
		background-color: rgb(207, 176, 145);
}
</style>

</head>
<body>
	<div class="generic-container ng-cloak">
	<div class="row text-center">

	<h1>Manager Homepage</h1>
	<br>
	<div class="btn-group btn-group-horizontal">
		<div class="col-md-6">
        <a href="inventory.html">
            <button class="btn btn-primary btn-lg" style="font-size: 30px">Manage Inventory</button>
        </a>
        </div>
		
    	<div class="col-md-6">
        <a href="recipe.html">
            <button class="btn btn-primary btn-lg" style="font-size: 30px">Add a Recipe</button>
        </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="btn-group btn-group-horizontal">
    	<div class="col-md-6">
        <a href="editrecipe.html">
            <button class="btn btn-primary btn-lg" style="font-size: 30px">Manage Recipes</button>
        </a>
        </div>
		<div class="col-md-6">
        <a href="baristasignup.html">
            <button class="btn btn-primary btn-lg" style="font-size: 30px">Create Barista</button>
        </a>
        </div>
    	
    </div>
    </div>
    <br>
    <br>   
	</div>
	
</body>
</html>
