<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a Recipe</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<style>
	th, table {
	margin-right: auto;
	margin-left: auto;
	border-bottom: 2px solid black;
	border-collapse: collapse;
	padding: 15px;
	font-size: 22px;
	width: 200px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('recipesCtrl', function($scope, $http, $q) {
			$http.get("/api/v1/recipes").then(function(response) {
				$scope.recipes = response.data;
			});
			
			$scope.inventory = '';
			
			$scope.inv = {
				ingredients: ''
			};
			
			$http.get("/api/v1/inventory").then(function(response) {
				$scope.inv = response.data;
				$scope.inventory = $scope.inv.ingredients;
			});
			
			$scope.canSubmit = false;
			
			$scope.canAdd = false;
			
			$scope.getIngredients = function() {
				$http.get("/api/v1/recipes/" + $scope.recipe.name + "/ingredients").then(
					function(success) {
							$scope.ingredients = success.data;
						}, function(error) {
							if (error.status === 404) {
								  console.error("Error there's no ingredients", error);
					        } else {
					          console.error("Error while getting ingredients", error);
					        }
					    });
			}

			$scope.reset = function() {
				$scope.resetMsg();
				$scope.recipe = {
					name : '',
					price : ''
				};
				$scope.resetIngredient();
				$scope.canAdd = false;
				$scope.canSubmit = false;
				$scope.ingredients = '';
				if (undefined != $scope.addRecipeForm) {
					$scope.addRecipeForm.$setPristine(); // reset Form
				}
			}
			
			$scope.clear = function() {
				if($scope.canAdd){
					$http.delete("/api/v1/recipes/" + $scope.recipe.name);
				}
		        
				$scope.reset();
			}
			
			
			/* could be used for add ingredient custom reset */
			$scope.resetIngredient = function() {
				/* we can take out ingredient unit, just use names */
				$scope.ingredient = {
					name: '',
					amount : ''						
				};
				$scope.updateIngredient = {
					name: '',
					amount : ''						
				};
				if (undefined != $scope.addRecipeForm) {
					$scope.addRecipeForm.$setPristine(); // reset Form
				}
			}
			
			$scope.submit = function() {
				if($scope.ingredients.length < 1){
					alert("Cannot submit recipe with no ingredients.");
				} else {
					$scope.reset();
				}
				$scope.success = true;
			}

			$scope.addRecipe = function() {
				$scope.resetMsg();
				console.log($scope.canAdd);
				if($scope.recipe.price > 0 && $scope.recipe.name != ''){

					$http.post("/api/v1/recipes", $scope.recipe).then(
						function(success) {/*  somehow make a post too for ingredient */
							$scope.success = true;
							$scope.canSubmit = false;
							$scope.canAdd = true;
							console.log($scope.canAdd);
						}, function(error) {
							if (error.status === 409) {
						          alert("Cannot create duplicate recipe. Try Again.");
					        } else {
					          console.error("Error while adding recipe", error);
					          alert("Maximum recipes reached.");
					        }
					    });
				} else {
					alert("Invalid Input. Try Again.");
				}
				
				console.log($scope.canAdd);
			}
			
			$scope.addIngredient = function() {
				$scope.resetMsg();
				
				if($scope.ingredient.amount > 0 && $scope.ingredient.name != ''){

					$http.post("/api/v1/recipes/" + $scope.recipe.name + "/ingredients", $scope.ingredient).then(
						function(success) {/*  somehow make a post too for ingredient */
							$scope.isuccess = true;
							
							$scope.getIngredients();
							$scope.canSubmit = true;
							
						}, function(error) {
						    alert("Cannot add duplicate ingredient. Try Again.");
					    });
				} else {
					alert("Invalid Input. Try Again.");
				}
				
				$scope.resetIngredient();
					   				
			}
			
			$scope.del = function(){
				$scope.resetMsg();
				
				if($scope.ingredients.length > 1){
					$http.delete("/api/v1/recipes/" + $scope.recipe.name + "/ingredients/" + $scope.name)
		            	.then(
		            	function (response) {
		            		console.log(response);
		    				$scope.delsuccess=true;	
		    				
		                	$scope.getIngredients();
		            	},
		            	function(rejection){
		                	console.error('Error while deleting ingredient');
		                	console.log(rejection);		                
		            	});
		        } else {
		        	alert("Recipe must have at least one ingredient.");
		        }
		        
		        $scope.resetIngredient();
		        
			}
			
			$scope.onHome = function() {
				if($scope.canSubmit || $scope.canAdd){
					alert("Current Recipe has not been submitted. Submit or Cancel before returning home.");
				} else {
					window.location.href = "/index";
				}
				
			}
			
			$scope.edit = function(){
				$scope.resetMsg();
				
				$scope.updateIngredient.name = $scope.name;
				
				if($scope.updateIngredient.amount > 0 && $scope.updateIngredient.name != ''){
				
					$http.put("/api/v1/recipes/" + $scope.recipe.name + "/ingredients/" + $scope.name, $scope.updateIngredient)
		            	.then(
		            	function (response) {
		            		console.log(response);
		    				$scope.editsuccess = true;	
		    				
		                	$scope.getIngredients();
		            	},
		            	function(rejection){
		                	console.error('Error while editing ingredient');
		                	console.log(rejection);
		                
							$scope.editsuccess = false;
		            	}
		        	);
		        } else {
		        	alert("Invalid Input. Try Again.");
		        }
		        $scope.resetIngredient();
			}
			
			$scope.resetMsg = function() {
				$scope.editsuccess = false;
				$scope.delsuccess = false;
				$scope.isuccess = false;
				$scope.success = false;
			}
			
			$scope.reset();

		});
		/*]]>*/
	</script>



	<div ng-app="myApp" ng-controller="recipesCtrl as ctrl">
				<header>Add a Recipe</header>
			<br>
		<div class="container">
		<div class="form-group">
		<div class="panel">
			<div class="panel-heading">
				<span><strong>Create a Recipe</strong></span>
			</div>
			<div class="panel-body">
				<form ng-submit="submit()" name="addRecipeForm">
					<div class="row justify-content-center">
						<div class="form-group col-md-12">
							<label class="col-sm-1 label-sm" style="margin-left: 10px;" for="file">Name</label>
							<div class="col-md-4">
								<input type="text" ng-model="recipe.name" name="name"
									class="name form-control input-sm"
									placeholder="Enter a recipe name. No duplicate names allowed. Maximum of 3 recipes." required=""/>
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.name.$error.required">This
										is a required field for creating a recipe.</span> <!-- <span
										ng-show="addRecipeForm.name.$invalid">This field is
										invalid.</span> -->
								</div>
							</div>
							<label class="col-md-1 label-sm" for="price">Price</label>
							<div class="col-md-4">
								<input type="number" ng-model="recipe.price" name="price"
									class="price form-control input-sm" style="border-radius: 10px;"
									placeholder="Enter recipe price. Must be positive whole number (USD)." required="0" min="0"/>
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.price.$error.required">This
										is a required field for creating a recipe.<br></span> <span
										ng-show="addRecipeForm.price.$error.min">Minimum price
										is 0 for creating a recipe.<br></span>
								</div>
							</div>
							<button type="button" style="font-size: 19px; height: 30px; width: 140px; padding: 1px;" ng-click="addRecipe()"
								ng-disabled="addRecipeForm.$pristine">Create Recipe</button>
						</div>
					</div>
				<div ng-hide="!canAdd">
						<div class="form-group col-md-12">
							<label class="col-md-3 label-sm" for="ingredient">Choose Ingredient</label>
		      				<div class="col-md-3">
		      					<select ng-model="ingredient.name" name="ingredientname" class="form-control input-md-6">
			      					<option value="">Select an ingredient</option>
			      					<option ng-repeat="ingredient in inventory" ng-value="ingredient.name">{{ingredient.name}}</option>	
		      					</select>
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.ingredientname.$error.required">This
										is a required field for adding an ingredient to recipe.</span>
								</div>
		      				</div>

							<label class="col-md-1 label-sm" for="amount">Amount</label>
		      				<div class="col-md-3">
		        					<input type="number" ng-model="ingredient.amount" name="amount"
											class="form-control input-md-6"
											placeholder="Enter ingredient amount used by recipe." required="0" min="1"/>
									<div class="has-error" ng-show="addRecipeForm.$dirty">
										<span ng-show="addRecipeForm.amount.$error.min">Amount must be greater than
											0 for adding an ingredient to recipe.</span>
									</div>
		      				</div>
								<button type="button" ng-click="addIngredient()" style="font-size: 20px; height: 30px; width: 150px; padding: 1px; margin-left: 10px;" 
									ng-disabled="!canAdd">Add Ingredient</button>
           	 
					    </div>

					 <div ng-hide="ingredients.length < 1">
					 <label class="panel-heading" for="list" style="border-bottom: 2px solid transparent;">Ingredient List</label>
						<div class="row">	
						<div class="button-group">
                              <table class="table">
                                  <tr>
                                    <th>Edit/Delete</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                  </tr>
                                <tbody>
                                  <tr ng-repeat="ingredient in ingredients">
                                     <td>
                                      <label>
                                          <input type="radio" name="name" ng-model="$parent.name" value="{{ingredient.name}}">
                                        </label>
                                      </td>
                                      <td>{{ ingredient.name }}</td>
                                      <td>{{ ingredient.amount }}</td>
                                  </tr>
                                </tbody>
                              </table>
                              </div>
                                                  		<div class="col-sm-1">
								<button type="button" ng-click="del()" style="height: 35px; width: 80px; padding: 1px;"
									ng-disabled="addRecipeForm.$pristine">   Delete   </button>
							</div>
							<div class="col-sm-1">
								<button type="button" ng-click="edit()" style="height: 35px; width: 60px; padding: 1px;"
									ng-disabled="addRecipeForm.$pristine">    Edit    </button>
							</div>
							<div class="col-sm-3">
								<input type="number" ng-model="updateIngredient.amount" name="newAmount"
									class="newAmount form-control input-md-1"
									placeholder="Enter ingredient amount." required="0" min="1"/>
								<div class="has-error" ng-show="addRecipeForm.$dirty">
										 <span ng-show="addRecipeForm.newAmount.$error.min">Amount
											must be greater than 0 for ingredient in recipe.</span>
								</div>
							</div>
                    	</div>
                    	
                    	<div class="row" >
		      			</div>
					</div>
				</div>
								
					<div class="row" >
						<div class="form-actions floatRight">
								<button type="button" ng-click="submit()" 
									style="height: 35px; width: 80px; padding: 1px; position: absolute; margin-left: 910px;"
									ng-disabled="!canSubmit">Submit</button>
								 
								<button type="button" ng-click="clear()" 
									style="height: 35px; width: 150px; padding: 1px; position: absolute; margin-left: 995px;"
									>Cancel Recipe</button>
								
						</div>
					</div>
					
				</form>	
				</div>
			
			<div class="panel-footer">
				<div ng-show="success">Recipe Created!</div>
				<div ng-show="delsuccess">Ingredient Deleted!</div>
				<div ng-show="editsuccess">Recipe Edited!</div>
				<div ng-show="isuccess">Ingredient Added!</div>
			</div>
		</div>
		</div>
		</div>

	            <a href="/managerhomepage" style="border: none;">
            	<back> ← </back>
            </a>
	</div>


</div>
</body>
</html>
