<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Staff Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<link rel="icon" type="image/png" href="images/favicon-1.png"/>
<style>
   	#baristaLoginPopup, #managerLoginPopup {
   		position: fixed;
   		top: 40%;
   		left: 50%;
   		transform: translate(-50%, -50%);
   		width: 600px;
   		padding: 50px;
   		box-shadow: 0 5px 30px rgba(0,0,0,.3);
   		background: #FFF;
   		visibility: hidden;
   		opacity: 0;
   		transition: 0.35s;
   	}
   	#baristaLoginPopup.active, #managerLoginPopup.active {
   		top: 50%;
   		visibility: visible;
   		opacity: 1;
   		transition: 0.35s;
   	}
</style>
</head>
<body>
	<div layout:fragment="content">
		<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*]]>*/
			var app = angular.module('myApp', []);
			app.controller('populateCtrl', function($scope, $http, $q) {
			
				$scope.success = false;
				
				$scope.employee = {
					id: '',
					email: '',
					name: '',
					password: ''
				};
				
				$scope.password = '';
				
				$scope.submit = function(){
					$scope.employee.password = $scope.password;
					$http.post("/api/v1/employees/validate", $scope.employee)
			            	.then(
			            	function (success) {
			            		$scope.employee = success.data;
			            		$scope.success = true;
			            		
			            		// Check if manager
			            		if(success.status === 202) {
			            			$scope.managerLoginToggle();
			            		} else {
			            			$scope.baristaLoginToggle();
			            		}
			            		
			            		sessionStorage.setItem("currentUserName", $scope.employee.name);
			            		sessionStorage.setItem("currentUserEmail", $scope.employee.email);
			            	},
			            	function(failure){
			                	$scope.success = false;
			                	
			                	if(failure.status == 404) {
			                		$scope.messageToggle("An account with that email doesn't exist. Contact the manager to get you registered!");
			                	} else {
			                		$scope.messageToggle("The provided login information is incorrect.");
			                	}
			                	    
			        		});
			            	
			        
					$scope.reset();
				}
				
				$scope.reset = function(){
					$scope.employee = {
						id: '',
						email: '',
						name: '',
						password: ''
					};
					
					if (undefined != $scope.employeeLoginForm) {
						$scope.employeeLoginForm.$setPristine();
					}
					
					$scope.password = '';
				
				}
				
				// go to homepage function
				$scope.goToHomepage = function() {
					window.location.href = "/index";
				}
				
				$scope.goToManagerHomepage = function() {
					window.location.href = "/managerhomepage";
				}
				
				$scope.goToBaristaHomepage = function() {
					window.location.href = "/baristahomepage";
				}
				
				$scope.reset();
		
				// make barista login popup appear function
				$scope.baristaLoginToggle = function(message, destination) {
					
					// toggle it
					var blur = document.getElementById('blur');
					blur.classList.toggle('active');
					var popup = document.getElementById('baristaLoginPopup');
					popup.classList.toggle('active');
				}
				
				// make manager login popup appear function
				$scope.managerLoginToggle = function() {
					
					// toggle it
					var blur = document.getElementById('blur');
					blur.classList.toggle('active');
					var popup = document.getElementById('managerLoginPopup');
					popup.classList.toggle('active');
				}
				
				// make message popup appear function
				$scope.messageToggle = function(message) {
					
					// set the message of the popup
					document.getElementById("messageString").innerHTML = message;
					
					// toggle it
					var blur = document.getElementById('blur');
					blur.classList.toggle('active');
					var popup = document.getElementById('messagePopup');
					popup.classList.toggle('active');
					
				}
			});
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*<![CDATA[*/ 
		</script>

		<div ng-app="myApp" ng-controller="populateCtrl">
			<!--- Various HTML elements, with extra tags telling Angular how to work with them, go here -->
			<div class="holder" id="blur">
				<div>
					<header>Employee Login</header>
				</div>
				<br>
				<form ng-sumbit="submit()" name="employeeLoginForm">
					<table style="border: none; margin-left: auto; margin-right: auto;">
						<tr>
							<td style="padding: 0px">
								<div style="text-align: right;">
									<label>Email: &nbsp;</label>
								</div>
							</td>
							<td style="padding: 0px">
								<div>
									<input type="email" required="true" ng-model="employee.email" name="email" 
										placeholder="e.g. mocha@coffeemaker.com" style="border-radius: 7px;"/>
								</div>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px" >
								<div style="text-align: right;">
									<label>Password: &nbsp;</label>
								</div>
							</td>
							<td style="padding: 0px">
								<div>
									<input type="password" name="password" ng-model="password" 
										required="true" style="border-radius: 7px;"/>
								</div>
							</td>
						</tr>
					</table>
					
					<div class="buttons">
						<div>
							<input type="submit" value="Login" class="a" ng-click="submit()" ng-disabled="employeeLoginForm.$invalid" 
								style="width: 110px; height: 40px; font-size: 22px; font-weight: bold; margin-top: 10px"/>
						</div>
					</div>
				</form>
			</div>
           	<back style="border: none;" ng-click="goToHomepage()"> ← </back>
            
            <!-- barista login popup -->
			<div class="holder" id="baristaLoginPopup">
				<p>Hi {{employee.name}}! You're now logged in.</p>
				<br>
				<popupButton href="/baristahomepage" ng-click="goToBaristaHomepage()">OK</popupButton>
			</div>
			
			<!-- manager login popup -->
			<div class="holder" id="managerLoginPopup">
				<p>Hi {{employee.name}}! You're now logged in as manager.</p>
				<br>
				<popupButton href="/managerhomepage" ng-click="goToManagerHomepage()">OK</popupButton>
			</div>
			
			<!-- general message order popup -->
			<div class="holder" id="messagePopup">
				<p id="messageString"></p>
				<br>
				<popupButton href="#" ng-click="messageToggle()">OK</popupButton>
			</div>
			
			<script type="text/javascript">
				//make the message popup disappear function
				function messageToggle() {
					var blur = document.getElementById('blur');
					blur.classList.toggle('active');
					var popup = document.getElementById('messagePopup');
					popup.classList.toggle('active');
				}
				
				// make the barista login popup disappear function
				function baristaLoginToggle() {
					var blur = document.getElementById('blur');
					blur.classList.toggle('active');
					var popup = document.getElementById('baristaLoginPopup');
					popup.classList.toggle('active');
				}
				
				// make the manager login popup disappear function
				function managerLoginToggle() {
					var blur = document.getElementById('blur');
					blur.classList.toggle('active');
					var popup = document.getElementById('managerLoginPopup');
					popup.classList.toggle('active');
				}
			</script>
		</div>
	</div>	
</body>

</html>
