<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Staff Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<link rel="icon" type="image/png" href="images/favicon-1.png"/>
<style>
		
      	#popup, #manpopup {
      		position: fixed;
      		top: 40%;
      		left: 50%;
      		transform: translate(-50%, -50%);
      		width: 600px;
      		padding: 50px;
      		box-shadow: 0 5px 30px rgba(0,0,0,.3);
      		background: #FFF;
      		visibility: hidden;
      		opacity: 0;
      		transition: 0.35s;
      	}
      	#popup.active, #manpopup.active {
      		top: 50%;
      		visibility: visible;
      		opacity: 1;
      		transition: 0.35s;
      	}

</style>
</head>
<body>
	<div layout:fragment="content">
		<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*]]>*/
			var app = angular.module('myApp', []);
			app.controller('populateCtrl', function($scope, $http, $q) {
			
				$scope.success = false;
				
				$scope.employee = {
					id: '',
					email: '',
					name: '',
					password: ''
				};
				
				$scope.password = '';
				
				// successful employee login
				$scope.toggle = function() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var popup = document.getElementById('popup'); 
					popup.classList.toggle('active');
				}
				
				// Successful log in as manager
				$scope.mantoggle = function() {
					var blur = document.getElementById('blur'); 
					blur.classList.toggle('active');
					var manpopup = document.getElementById('manpopup'); 
					manpopup.classList.toggle('active');
				}
				
				$scope.submit = function(){
					$scope.employee.password = $scope.password;
					$http.post("/api/v1/employees/validate", $scope.employee)
			            	.then(
			            	function (success) {
			            		$scope.employee = success.data;
			            		$scope.success = true;
			            		
			            		// Check if manager
			            		if(success.status === 202) {
			            			$scope.mantoggle();
			            		} else {
			            			$scope.toggle();
			            		}
			            		
			            		sessionStorage.setItem("currentUserName", $scope.employee.name);
			            		sessionStorage.setItem("currentUserEmail", $scope.employee.email);
			            	},
			            	function(failure){
			                	$scope.success = false;
			                	
			                	if(failure.status == 404) {
			                		alert("An account with that email does not exist. Contact your Manager to make the account.");
			                	} else {
			                		alert("Invalid password. Try again.");
			                	}
			                	    
			        		});
			            	
			        
					$scope.reset();
				}
				
				$scope.reset = function(){
					$scope.employee = {
						id: '',
						email: '',
						name: '',
						password: ''
					};
					
					if (undefined != $scope.employeeLoginForm) {
						$scope.employeeLoginForm.$setPristine();
					}
					
					$scope.password = '';
				
				}
				
				$scope.reset();
		
			});
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*<![CDATA[*/ 
		</script>

		<div ng-app="myApp" ng-controller="populateCtrl">
			<!--- Various HTML elements, with extra tags telling Angular how to work with them, go here -->
			<div>
				<header>Employee Login</header>
			</div>
			<br>
			<div class="holder" id="blur">
				<form ng-sumbit="submit()" name="employeeLoginForm">
					<table style="border: none; margin-left: auto; margin-right: auto;">
						<tr>
							<td style="padding: 0px">
								<div style="text-align: right;">
									<label>Email: &nbsp;</label>
								</div>
							</td>
							<td style="padding: 0px">
								<div>
									<input type="email" required="true" ng-model="employee.email" name="email" 
										placeholder="e.g. mocha@coffeemaker.com" style="border-radius: 7px;"/>
								</div>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px" >
								<div style="text-align: right;">
									<label>Password: &nbsp;</label>
								</div>
							</td>
							<td style="padding: 0px">
								<div>
									<input type="password" name="password" ng-model="password" 
										required="true" style="border-radius: 7px;"/>
								</div>
							</td>
							
						</tr>
					</table>
					
					<div class="buttons">
						<div>
							<input type="submit" value="Login" class="a" ng-click="submit()" ng-disabled="employeeLoginForm.$invalid" 
								style="width: 110px; height: 40px; font-size: 22px; font-weight: bold; margin-top: 10px"/>
						</div>
					</div>
				</form>
			</div>
			<div class="holder" id="popup">
				<p>Hi {{employee.name}}! <br> You're now logged in.</p>
				<br> <br>
				<a href="/baristahomepage" class="popupButton" style="text-decoration: none">OK</a>
			</div>
			<div class="holder" id="manpopup">
				<p>Hi {{employee.name}}! <br> You're now logged in as Manager.</p>
				<br> <br>
				<a href="/managerhomepage" class="popupButton" style="text-decoration: none">OK</a>
			</div>
            <a href="/index" style="border: none;">
            	<back> ← </back>
            </a>
		</div>
	</div>	
</body>

</html>
