body {
	background-color: rgb(207, 176, 145);
	font-family: raleway;
}

@font-face {
	font-family: 'Raleway', sans-serif;
	src:
		url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
}

header {
	font-size: 56px;
	text-align: center;
}

a, .a, button, input[type=submit] {
	border-radius: 10px;
	border: 2px solid #000000;
	text-align: center;
	text-decoration: none;
	background: transparent;
	color: black;
	padding: 5px;
	font-size: 36px;
	white-space: normal;
}

label {
	font-size: 24px;
	user-select: none;
}

.popupButton {
	border-radius: 10px;
	border: 2px solid #000000;
	padding: 5px;
	color: black;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	user-select: none;
	outline: none;
}
.popupButton:hover {
	color: black;
}

.holder {
	text-align: center;
	vertical-align: middle;
	transition: 0.35s;
}

.holder#blur.active {
	filter: blur(7px);
}
div {
	margin-bottom: 10px;
	vertical-align: middle;
	padding: 2px;
	font-size: 24px;
	color: black;
}

th, table {
	margin-right: auto;
	border: 2px solid black;
	border-collapse: collapse;
	padding: 15px;
}
back {
	position: absolute;
	bottom: 8px;
	left: 8px;
	font-size: 60px;
}
back:hover {
	color: black;
}
input[type=email], input[type=password] {
	font-size: 24px;
	border-radius: 10px;
	border: 2px solid #000000;
	width: 350px;
	padding: 5px;
}
input:invalid {
    border: 2px solid #FF0000;
}